<nav>
	<div class="embernav nav-wrapper">
	  <span class="emberlogo">
	    <a href="/" class="emberfont brand-logo"><span class="navitemtext navtitle">Cheesecorn 🌽</span></a>
	  </span>
	  <ul id="nav-mobile" class="emberfont right hide-on-med-and-down">
      <li><a class="emberfont navitem navtitle" href="/learning"><span class="navitemtext">Learning</span></a></li>
      <li><a class="emberfont navitem navtitle" href="/stuff"><span class="navitemtext">Stuff</span></a></li>
      <li><a class="emberfont navitem navtitle" href="/about"><span class="navitemtext">About</span></a></li>
    </ul>
	</div>
</nav>

<div class="body">
  {{#if this.breadcrumbs}}
    <div class="breadcrumbs row">
      <div class="col s3 offset-s1">
        {{#each this.breadcrumbs as |breadcrumb|}}
          {{#if breadcrumb.isCurrentPage}}
            <span>{{breadcrumb.label}}</span>
          {{else}}
            <LinkTo @route={{breadcrumb.route}}>
              {{breadcrumb.label}}
            </LinkTo>
            <span>></span>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/if}}
	{{outlet}}
</div>
